# Backup Files
*.bkp
printer_data/config/printer-*.cfg

# Misc
.local
.viminfo
.wget-hsts
.Xauthority
.bash_history
.bash_logout
.cache
.config
.ssh
crowsnest
CanBoot
kiauh
klipper
mainsail-config
mainsail
moonraker-timelapse
moonraker
beacon_klipper
u2c
print_area_bed_mesh
printer_data/.moonraker.uuid
printer_data/backup
printer_data/comms
printer_data/logs
printer_data/moonraker.asvc
printer_data/systemd
printer_data/config/.theme
sonar
